header {text-align: center;
	    color: white; 
	    font-family: 'Share Tech Mono', monospace; 
	    text-shadow: 2px 2px 5px pink;
}



body { 
	background-image: url( "../images/background1.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
} 

.container { font-size: 40px;
	         font-family: 'Share Tech Mono', monospace;
	         text-shadow: 2px 2px 5px pink; 
	         text-align: center; 
	         vertical-align: middle
}

.card-body {background-color: #8D55C5}
.card-text {color: white;}
.btn-info {background-color: #03EBFF; 
	          border-color: aqua; 
	          border-top-color: #2AAEE0; 
	          border-left-color: #2AAEE0;
	

}

.footer {font-size: 12px;
	     font-family: 'Share Tech Mono', monospace;
	     text-shadow: 2px 2px 5px pink; 
	     text-align: center; 
	     vertical-align: middle;
		 background-color: #F8DFEC; 
       
}



.card-img-top {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
	
}

.my-card-body {
  padding: 15px;
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;

}


 






         